<div class="container">
  <h1 *ngIf="currentUser">
    Benvenuto {{ currentUser.name }} {{ currentUser.surname }}
  </h1>
  <div class="row">
    <div class="card hover-card" [routerLink]="['/order']">
      <div class="card-body">
        <h5 class="card-title">I miei ordini</h5>
        <p class="card-text">
          Traccia, restituisci o acquista nuovamente degli articoli
        </p>
      </div>
    </div>

    <div class="card hover-card" [routerLink]="['update-profile']">
      <div class="card-body">
        <h5 class="card-title">Accesso e impostazioni di sicurezza</h5>
        <p class="card-text">
          Modifica il login, il nome e il numero di cellulare
        </p>
      </div>
    </div>

    <div class="card hover-card" [routerLink]="['/address']">
      <div class="card-body">
        <h5 class="card-title">Indirizzi</h5>
        <p class="card-text">
          Modifica indirizzi e preferenze di consegna per gli ordini e i regali
        </p>
      </div>
    </div>

    <div class="card hover-card" [routerLink]="['/payment']">
      <div class="card-body">
        <h5 class="card-title">I miei pagamenti</h5>
        <p class="card-text">
          Visualizza tutte le transazioni, gestisci le impostazioni e i metodi
          di pagamento
        </p>
      </div>
    </div>

    <div class="card hover-card" [routerLink]="['/cart']">
      <div class="card-body">
        <h5 class="card-title">Il mio carrello</h5>
        <p class="card-text">
          Aggiungi o rimuovi prodotti dal carrello. Completa il tuo nuovo ordine
        </p>
      </div>
    </div>
  </div>
</div>
