@import "../node_modules/bootstrap/scss/functions"; //necessario per l'import "variables"
@import "../node_modules/bootstrap/scss/variables"; // variabili da modificare

// Aggiungo 2 colori a Bootstrap
$new-theme-colors: (
  "grigioblu": #232f3e,
  "bluscuro": #131921,
  "chiaro": #dfefda,
  "ocra": #d89640,
);

$theme-colors: map-merge($theme-colors, $new-theme-colors);

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.2rem;
  background-color: #fff6eb;
}
