<form [formGroup]="searchForm" class="d-flex" role="search" class="search-bar">
  <select formControlName="filter" class="">
    <option value="title">Titolo</option>
    <option value="author">Autore</option>
    <option value="editor">Editore</option>
    <option value="category">Categoria</option>
  </select>
  <input
    class=""
    type="search"
    formControlName="search"
    placeholder="Search"
    aria-label="Search"
  />
  <button class="btn" type="button" (click)="searchParameter()">
    <i class="bi bi-search"></i>
  </button>
</form>
