<div class="container">
  <div class="row g-2" *ngIf="orderArray">
    <div class="col-12 col-lg-8 offset-lg-2" *ngFor="let order of orderArray">
      <div class="card">
        <div class="card-header d-flex justify-content-around">
          <div>
            Data ordine: <br />
            {{ order.orderDate }}
          </div>
          <div>
            Status: <br />
            {{ statusOrdine(order.status) }}
          </div>
          <div>
            Totale: <br />
            {{ getOrderTotal(order).toFixed(2) }} &euro;
          </div>
          <div>
            Indirizzo: <br />
            {{ order.shippingAddress?.streetAddress }},
            {{ order.shippingAddress?.city }}
          </div>
        </div>
        <div class="card-body">
          <div class="card mb-3" *ngFor="let orderItem of order.books">
            <div class="row g-0">
              <div class="col-md-4 position-relative text-center bg-light-gray">
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"
                >
                  {{ orderItem.quantity }}
                  <span class="visually-hidden">quantity ordered</span>
                </span>
                <img
                  [src]="'data:image/jpeg;base64,' + orderItem.book.image"
                  class="img-fluid rounded-start"
                  [alt]="orderItem.book.title"
                />
              </div>
              <div class="col-md-8 bg-light-gray">
                <div class="card-body">
                  <p class="card-title fw-bold">{{ orderItem.book.title }}</p>
                  <p>
                    <button class="book-btn-teal white-btn">
                      Vedi l'articolo <i class="bi bi-arrow-return-left"></i>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <a
            class="book-btn-teal yellow-btn"
            [routerLink]="'order-detail/' + order.orderId"
            >Dettaglio ordine</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
