<div class="container">
  <div class="row" *ngIf="categoryArray">
    <div
      class="col col-md-6 col-lg-3 g-2"
      *ngFor="let category of categoryArray"
    >
      <div
        class="category-card h-100"
        [routerLink]="['/search']"
        [queryParams]="{ category: category.categoryName.toLocaleLowerCase() }"
      >
        <div>
          <img
            [src]="'assets/img/categories/' + category.categoryId + '.png'"
            [alt]="category.categoryName + 'icon'"
          />
        </div>
        <p>{{ category.categoryName }}</p>
        <p class="category-description">
          Scopri altri titoli di {{ category.categoryName }}
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="categoryArray"></div>

  <!-- Array libri consigliati/ di una particolare categoria -->
</div>
