<div class="container">
  <div class="row" *ngIf="categoryArray">
    <div
      class="col-6 col-md-4 col-lg-3 g-2"
      *ngFor="let category of categoryArray"
    >
      <div
        class="card h-100"
        [routerLink]="['/search']"
        [queryParams]="{ category: category.categoryName.toLocaleLowerCase() }"
      >
        <div class="card-body">
          <h5 class="card-title">{{ category.categoryName }}</h5>
          <p class="card-text">
            Scopri altri titoli di
            {{ category.categoryName.toLocaleLowerCase() }}
          </p>
          <a routerLink="#" class="card-link">Card link</a>
          <a routerLink="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-3 g-2" *ngIf="bookArray">
    <div
      class="col-12 col-md-6 col-lg-4 col-xl-3"
      *ngFor="let book of bookArray"
    >
      <div class="card text-bg-dark h-100">
        <img
          [src]="'data:image/jpeg;base64,' + book.image"
          class="card-img-top"
          [alt]="book.title + 'thumbnail'"
        />
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ book.title }}</h5>
          <p class="card-text">Release: {{ book.publicationDate }}</p>
          <p class="card-text">Description: {{ book.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
