<div class="container">
  <h1 class="text-center text-md-start">I miei indirizzi</h1>
  <p><a class="address-a" routerLink="add">Aggiungi indirizzo</a></p>

  <div class="row g-3" *ngIf="myAddressesArray">
    <div
      class="col-12 col col-md-6 col-xl-4 d-flex justify-content-center"
      *ngFor="let address of myAddressesArray"
    >
      <div class="card-address">
        <p class="fw-bold">{{ address.streetAddress }}</p>
        <p class="">
          {{ address.city }},
          {{ address.zipCode.toString().padStart(5, "0") }}
        </p>
        <p>
          {{ address.country }}
        </p>
        <p>
          <a [routerLink]="'update/' + address.shippingAddressId">Modifica</a>
          |
          <a (click)="delete(address.shippingAddressId)">Elimina</a>
        </p>
      </div>
    </div>
  </div>
</div>
