<div class="row justify-content-center text-start">
  <div class="col-md-6">
    <h2>Aggiungi un indirizzo</h2>
    <form>
      <input
        type="number"
        name="score"
        [(ngModel)]="newReview.score"
        placeholder="Valutazione"
        class="form-control mt-3"
      />
      <textarea
        type="text"
        name="description"
        [(ngModel)]="newReview.description"
        placeholder="Scrivi la tua recensione"
        class="form-control mt-3"
      ></textarea>

      <button (click)="create()" class="btn btn-primary mt-3">Aggiungi</button>
    </form>
  </div>
</div>
