<div class="container">
  <div class="row justify-content-center">
    <form class="form-auth">
      <p class="form-auth-title">Registrati</p>
      <div class="input-container">
        <input
          type="number"
          name="score"
          [(ngModel)]="newReview.score"
          placeholder="Valutazione"
        />
        <span> </span>
      </div>
      <div class="input-container">
        <input
          type="text"
          name="description"
          [(ngModel)]="newReview.description"
          placeholder="Scrivi la tua recensione"
        />
        <span> </span>
      </div>
      <button type="button" class="submit" (click)="create()">
        Recensisci
      </button>
    </form>
  </div>
</div>
