.container {
  background-color: white;
  padding: 1em;
  border-radius: 10px;

  .single-obj-price {
    color: gray;
    font-size: 0.8em;
  }

  // Bottone

  .custom-btn {
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 0.5em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 black;
  }

  .custom-btn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    background-color: #ffc107;
  }

  .custom-btn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }

  .yellow-btn {
    background-color: #ffd814;
    color: black;
    border: 1px solid #d0b000;
    text-decoration: none;
  }

  // Media queries

  @media screen and (max-width: 768px) {
    .cart-item-img {
      width: 15rem;
    }
  }
}
