<div class="container">
  <div class="row">
    <div class="col-8">
      <p *ngIf="!myCart">Il tuo carrello è vuoto</p>
      <div class="row" *ngIf="myCart">
        <div class="col-12" *ngFor="let cartItem of myCart.books">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  [src]="'data:image/jpeg;base64,' + cartItem.book.image"
                  class="img-fluid rounded-start"
                  [alt]="cartItem.book.title"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ cartItem.book.title }}</h5>
                  <p class="card-text">{{ cartItem.book.author.authorName }}</p>
                  <p class="card-text">qt. {{ cartItem.quantity }}</p>
                  <p>
                    Prezzo: {{ cartItem.book.price * cartItem.quantity }} &euro;
                    ({{ cartItem.book.price }}
                    &euro; l'uno)
                  </p>
                </div>
                <div>
                  <button
                    class="btn btn-danger"
                    (click)="rimuoviDalCarrello(cartItem.cartItemId)"
                  >
                    Rimuovi
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4" *ngIf="myCart">
      <p>Totale provvisorio: {{ getProvisionalTotal() }} &euro;</p>
      <a class="btn btn-warning" routerLink="/order-preview"
        >Procedi all'ordine</a
      >
    </div>
  </div>
</div>
