.container {
  background-color: white;
  padding: 1em;
  border-radius: 10px;

  .single-obj-price {
    color: gray;
    font-size: 0.8em;
  }

  .red-btn {
    border: 2px solid #a80000;
    background-color: #ca0000dc;
  }

  .red-btn:hover {
    background-color: #d52e2e;
  }
}

// Media queries

@media screen and (max-width: 768px) {
  .cart-item-img {
    width: 15rem;
  }
}
