<div class="container">
  <div class="row justify-content-center">
    <form class="form-auth">
      <p class="form-auth-title">Accedi al tuo account</p>
      <div class="input-container">
        <input
          type="email"
          placeholder="Inserisci email"
          name="email"
          [(ngModel)]="authData.email"
        />
        <span> </span>
      </div>
      <div class="input-container">
        <input
          type="password"
          placeholder="Inserisci password"
          [(ngModel)]="authData.password"
          name="password"
        />
      </div>
      <button type="button" class="submit" (click)="login()">Accedi</button>

      <p class="signup-link">
        Non hai un account
        <a routerLink="/auth/register">Registrati</a>
      </p>
    </form>
  </div>
</div>
