<div class="container" *ngIf="bookDetail">
  <div class="row">
    <div class="col-12 col-md-3">
      <img
        [src]="'data:image/jpeg;base64,' + bookDetail.image"
        class="book-img"
        [alt]="bookDetail.title + 'image'"
      />
      <hr />
    </div>
    <div class="col-12 col-md-7 col-lg-6">
      <h5 class="fw-bold">{{ bookDetail.title }}</h5>
      <p class="edition-author">
        Edizione {{ bookDetail.language }} |
        <a [routerLink]="'/author/' + bookDetail.author.authorId">{{
          bookDetail.author.authorName
        }}</a>
        (Autore), {{ bookDetail.translator.translatorName }} (Traduttore)
      </p>
      <hr />
      <p>
        {{ bookDetail.description }}
      </p>
      <hr />

      <div class="row">
        <div class="col-2 book-info">
          <p>ISBN</p>
          <p>{{ bookDetail.isbn }}</p>
        </div>
        <div class="col-2 book-info">
          <p>Lunghezza stampa</p>
          <p>{{ bookDetail.pages }} pagine</p>
        </div>
        <div class="col-2 book-info">
          <p>Editore</p>
          <p>{{ bookDetail.editor }}</p>
        </div>
        <div class="col-2 book-info">
          <p>Lingua</p>
          <p>{{ bookDetail.language }}</p>
        </div>
        <div class="col-2 book-info">
          <p>Data di pubblicazione</p>
          <p>{{ bookDetail.publicationDate }}</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-2 col-lg-3">
      <div class="card" *ngIf="newCartItem">
        <div class="card-body">
          <h5 class="fw-bold">Aggiungi al carello</h5>
          <p class="card-title">
            <span class="discount"
              >-{{ bookDetail.discount.discountPercentage }}%</span
            >
            {{
              (
                (bookDetail.price *
                  (100 - bookDetail.discount.discountPercentage)) /
                100
              ).toFixed(2)
            }}
            &euro;
          </p>

          <form>
            <input
              type="number"
              name="quantity"
              [(ngModel)]="newCartItem.quantity"
              placeholder="Quantità"
              class="form-control mt-3"
            />

            <button
              (click)="addToCart(bookDetail.bookId)"
              class="btn btn-primary mt-3"
            >
              Aggiungi
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4">
      <hr />
      <h6>Dettaglio libro</h6>
      <p class="property">
        <span>Categorie:</span> {{ bookDetail.categories[0].categoryName }}
      </p>
      <p class="property"><span>Editore</span> {{ bookDetail.editor }}</p>
      <p class="property"><span>Lingua</span> {{ bookDetail.language }}</p>
      <p class="property">
        <span>Copertina rigida</span> {{ bookDetail.pages }}
      </p>
      <p class="property"><span>ISBN</span> {{ bookDetail.isbn }}</p>
    </div>

    <div class="row">
      <div class="card mb-3" *ngFor="let review of bookDetail.reviews">
        <div class="card-body">
          <h5 class="card-title">
            Recensione di {{ review.user.name }} {{ review.user.name }}
          </h5>
          <p [innerHTML]="printStars(review.score)"></p>
          <p class="card-text">
            {{ review.description }}
          </p>
          <a routerLink="#" class="btn btn-primary">Visualizza utente</a>
        </div>
      </div>
    </div>
  </div>
</div>
