<div class="container" *ngIf="bookDetail">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  [src]="'data:image/jpeg;base64,' + bookDetail.image"
                  class="img-fluid rounded-start"
                  [alt]="bookDetail.title + 'image'"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ bookDetail.title }}</h5>
                  <p class="card-text">
                    {{ bookDetail.author.authorName }} (Autore),
                    {{ bookDetail.translator.translatorName }} (Traduttore)
                  </p>
                  <p class="card-text">
                    {{ bookDetail.description }}
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >Last updated 3 mins ago</small
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <p>ISBN</p>
              <p>{{ bookDetail.isbn }}</p>
            </div>
            <div class="col-2">
              <p>Lunghezza stampa</p>
              <p>{{ bookDetail.pages }} pagine</p>
            </div>
            <div class="col-2">
              <p>Editore</p>
              <p>{{ bookDetail.editor }}</p>
            </div>
            <div class="col-2">
              <p>Lingua</p>
              <p>{{ bookDetail.language }}</p>
            </div>
            <div class="col-2">
              <p>Data di pubblicazione</p>
              <p>{{ bookDetail.publicationDate }}</p>
            </div>
            <div class="col-2">
              <p>Altro</p>
              <p>altro</p>
            </div>
          </div>

          <div class="row">
            <div class="card mb-3" *ngFor="let review of bookDetail.reviews">
              <div class="card-body">
                <h5 class="card-title">
                  Recensione di {{ review.user.name }} {{ review.user.name }}
                </h5>
                <p [innerHTML]="printStars(review.score)"></p>
                <p class="card-text">
                  {{ review.description }}
                </p>
                <a routerLink="#" class="btn btn-primary">Visualizza utente</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" *ngIf="newCartItem">
        <div class="card-body">
          <h5 class="card-title">
            -{{ bookDetail.discount.discountPercentage }}%
            {{
              (bookDetail.price *
                (100 - bookDetail.discount.discountPercentage)) /
                100
            }}
            &euro;
          </h5>

          <form>
            <input
              type="number"
              name="quantity"
              [(ngModel)]="newCartItem.quantity"
              placeholder="Quantità"
              class="form-control mt-3"
            />

            <button
              (click)="addToCart(bookDetail.bookId)"
              class="btn btn-primary mt-3"
            >
              Aggiungi
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
