nav {
  .logo-img {
    border-radius: 100%;
    width: 5em;
    height: 5em;
    margin: 0.5em 1.5em;
    cursor: pointer;
  }
  .navbar-toggler {
    border: 1px solid white;
  }
  .nav-link,
  .dropdown-item {
    color: white;
  }
  .dropdown-item:hover {
    background-color: #232f3e;
  }
}

.custom-active {
  color: #dbbe30 !important;
  font-weight: bold;
}
