<div class="container">
  <div class="row" *ngIf="bookSearchedArray">
    <div class="col" *ngFor="let book of bookSearchedArray">
      <div class="card">
        <img
          [src]="'data:image/jpeg;base64,' + book.image"
          class="card-img-top"
          [alt]="book.title"
        />
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">
            {{ book.author.authorName }} (Autore),
            {{ book.translator.translatorName }} (Traduttore) | Edizione
            {{ book.language }}
          </p>
          <p class="card-text">
            Prezzo
            {{ (book.price * (100 - book.discount.discountPercentage)) / 100 }}
            &euro; |
            <span class="text-secondary"
              ><del>{{ book.price }} &euro;</del></span
            >
          </p>
          <a
            [routerLink]="'/book-detail/' + book.bookId"
            class="btn btn-primary"
            >Dettaglio</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!bookSearchedArray">
    <p>Non è stato trovato nessun prodotto inerente alla ricerca</p>
  </div>
</div>
