<div class="container">
  <div class="row g-3" *ngIf="bookSearchedArray">
    <div
      class="col-12 col-md-6 col-lg-3"
      *ngFor="let book of bookSearchedArray"
    >
      <div class="card h-100">
        <img
          [src]="'data:image/jpeg;base64,' + book.image"
          class="card-img-top"
          [alt]="book.title"
        />
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text text-secondary personnel-p">
            <a class="author-a" [routerLink]="'/author/' + book.authorId"
              >{{ book.author.authorName }}
            </a>
            (Autore),
            {{ book.translator.translatorName }} (Traduttore) | Edizione
            {{ book.language }}
          </p>
          <p class="card-text">
            Prezzo
            {{
              (
                (book.price * (100 - book.discount.discountPercentage)) /
                100
              ).toFixed(2)
            }}
            &euro; |
            <span class="text-secondary"
              ><del>{{ book.price }} &euro;</del></span
            >
          </p>
          <a
            [routerLink]="'/book-detail/' + book.bookId"
            class="btn btn-teal text-white"
            >Dettaglio</a
          >
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="page && arrayOfPages" class="text-center my-2">
    <button
      class="btn btn-teal text-white me-2"
      *ngIf="page != 1"
      (click)="navigateToPage(1)"
    >
      {{ 1 }}
    </button>

    <button
      class="btn btn-teal text-white me-2"
      *ngIf="page > 2 && arrayOfPages.length > 3"
      (click)="navigateToPage(arrayOfPages[page - 2])"
    >
      {{ arrayOfPages[page - 2] }}
    </button>

    <button
      class="btn btn-teal text-white me-2"
      *ngIf="page < arrayOfPages.length - 1 && arrayOfPages.length > 3"
      (click)="navigateToPage(arrayOfPages[page])"
    >
      {{ arrayOfPages[page] }}
    </button>

    <button
      class="btn btn-teal text-white me-2"
      *ngIf="page != arrayOfPages[arrayOfPages.length - 1]"
      (click)="navigateToPage(arrayOfPages[arrayOfPages.length - 1])"
    >
      {{ arrayOfPages[arrayOfPages.length - 1] }}
    </button>
  </div>

  <div class="row" *ngIf="!bookSearchedArray">
    <p>Non è stato trovato nessun prodotto inerente alla ricerca</p>
  </div>
</div>
